<head>
	<title>Dynamicgrapher</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>