<div id="toolbar">
	<div id="tool_select">
		<a href="javascript:void(0)" onclick="jsguip.setTool('pointer')" id="tool_select_pointer" class="toolbar_option toolbar_selected">
			<img src="assets/pointer.png" alt="Pointer" title="Pointer"/></a>
		<a href="javascript:void(0)" onclick="jsguip.setTool('trace')" id="tool_select_trace" class="toolbar_option">
			<img src="assets/trace.png" alt="Trace" title="Trace"/></a>
		<a href="javascript:void(0)" onclick="jsguip.setTool('zoombox')" id="tool_select_zoombox" class="toolbar_option">
			<img src="assets/zoombox.png" alt="ZoomBox" title="ZoomBox"/></a>
		<a href="javascript:void(0)" onclick="jsguip.setTool('zoomin')" id="tool_select_zoomin" class="toolbar_option">
			<img src="assets/zoomin.png" alt="Zoom In" title="Zoom In"/></a>
		<a href="javascript:void(0)" onclick="jsguip.setTool('zoomout')" id="tool_select_zoomout" class="toolbar_option">
			<img src="assets/zoomout.png" alt="Zoom Out" title="Zoom Out"/></a>
	</div>
</div>
