<div id="hideSidebar"><a href="javascript:void(0)" onclick="jsgui.hideSidebar()">&raquo;</a></div>
<div id="showSidebar"><a href="javascript:void(0)" onclick="jsgui.showSidebar()">&laquo;</a></div>

<%= render partial: "shared/#{page}_toolbar_icons" %>

<div id="toolboxes">
	<div class="toolbox" id="toolbox_zoombox">
		<div class="toolbox_header">
			<div class="toolbox_close"><a href="javascript: void(0)">close</a></div>
			Window Options
		</div>
		<div class="toolbox_main">
			<table style="margin-left:auto;margin-right:auto;margin-top:10px;">
				<tr>
					<td>y-max: </td>
					<td align="center"><input id="toolbox_zoombox_ymax" class="jsgcalc_ymax" type="text" size="4" /></td>
					<td></td>
				</tr>
				<tr>
					<td>x-min:<br /><input id="toolbox_zoombox_xmin" class="jsgcalc_xmin" type="text" size="4" /></td>
					<td align="center"><img src="assets/graph.png" style="width: 70px;"/></td>
					<td>x-max:<br /><input id="toolbox_zoombox_xmax" class="jsgcalc_xmax" type="text" size="4" /></td>
				</tr>
				<tr>
					<td>y-min: </td>
					<td align="center"><input id="toolbox_zoombox_ymin" class="jsgcalc_ymin" type="text" size="4" /></td>
					<td></td>
				</tr>
			</table>
			<div style="height:30px;margin:10px;">
				<a class="fancybutton" href="javascript: void(0)" style="float:left;"
				   nclick="jsgcalc.setWindow($('#toolbox_zoombox_xmin').val(), $('#toolbox_zoombox_xmax').val(), $('#toolbox_zoombox_ymin').val(), $('#toolbox_zoombox_ymax').val())">Apply</a>
				<a class="fancybutton" style="float:right;" href="javascript: void(0);" onclick="jsgcalc.resetZoom()">Reset</a>
			</div>
		</div>
	</div>

	<div class="toolbox" id="toolbox_trace">
		<div class="toolbox_header">
			<div class="toolbox_close"><a href="javascript: void(0)">close</a></div>
			Trace
		</div>

		<div class="toolbox_main">
			<div style="width:100%;float:left;margin:5px;">
				x: <input id="toolbox_trace_input" class="jsgcalc_trace_input" type="text" size="20" style="width: 95%" />
			</div>
			<div style="width:100%;float:left;margin:5px;">
				y: <input id="toolbox_trace_output" class="jsgcalc_trace_output" type="text" size="20" style="width: 95%" />
			</div>
			<div style="height:30px;margin:10px 5px;float:left;">
				<a class="fancybutton" href="javascript: void(0)" onclick="jsgui.doTrace($('#toolbox_trace_input').val())">Trace</a>
			</div>
		</div>
	</div>
</div>