
<h3 style="font-family: Tahoma;font-size:18pt; color: #3d94f6;margin-top:10px;margin-bottom:10px;">Dynamic Grapher</h3>
<span style="font-size: 90%; position: relative; bottom: 4px;">A JavaScript Graphing Tool</span>

<p><a href="http://www.twandrews.com">Timothy Andrews</a> | <a href="https://github.com/musicmunky/Graphr">GitHub</a><br />
<span style="color: #999">Development (version 0.1)</span></p>
